{% extends 'base.html' %}
{% block content %}
<div class="container">
    <span class="label label-danger">
        <h2 class="thread"> Topics list: </h2 class="thread">
    </span>
</div>
<h3>
{% if topics %}
    {% for topic in topics %}
        <p>
            <a href="/{{ topic.name }}/" class="btn btn-danger">
                /{{ topic.name }}/
            </a>
        </p>
    {% endfor %}

{% else %}
    <p>No topics are available.</p>
{% endif %}
</h3>
{% endblock content %}

{% block footer_urls %}
<li> <a href="/"> Home </a> </li>
{% endblock footer_urls %}
