{% extends 'base.html' %}
{% block content %}
<div class="container">
    <span class="label label-danger">
        <h2 class="thread"> Create new thread: </h2 class="thread">
    </span>
</div>

<form action="/{{  tpc }}/new/" method="post"class="form-group">
    {% csrf_token %}
    <input id="text" type="text" name="text" class="form-control form-control-carrot">
</form>

<div class="container">
    <span class="label label-danger">
        <h2 class="thread"> Threads list: </h2 class="thread">
    </span>
</div>

<h3>
{% if threads %}
    {% for thread in threads %}
    
        <p> <!-- <span class="label label-danger">#{{ thread.id }}</span> -->
            <a href="/{{ thread.tpc }}/{{ thread.id }}/" class="btn btn-danger">
                {{ thread.title }}
            </a>
        </p>
    
    {% endfor %}

{% else %}
    <p>No threads are available.</p>
{% endif %}
</h3>
{% endblock content %}

{% block footer_urls %}
<li> <a href="/"> Home </a> </li>
{% endblock footer_urls %}
