{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block head_url %}
{{ tpc }}
{% endblock head_url %}

{% block content %}
<script src="{% static 'assets/js/JAF.js' %}"></script>
<div class="container-fluid">
    <span class="label label-danger">
        <p class="thread"> {{ thr_title }} </p class="thread">
    </span>
</div>
<div id="Message list">
{% if messages %}
        {% for message in messages %}
        <hr>
            <span class="label label-default">
                <h4>
                    #{{ message.id }};
                    <small>
                        {{ message.date}}
                    </small>
                </h4>
            </span>
            <p class="carrot">{{ message.text }}</p>
        <hr>
        {% endfor %}
{% else %}
    <div id="uselessMessage">
    <hr>
        <p>No messages are available for this thread.</p>
    <hr>
    </div>
{% endif %}
</div>
<span class="label label-default">
    <h4>
        Your message:
    </h4>
</span>
<br>

<form action="/{{  tpc }}/{{  thr }}/" method="post" class="form-group" id="newMessageForm">
    {% csrf_token %}
    {{ form.message_text|attr:"class:form-control form-control-carrot form-control-carrot-msg" }}
    <input type="hidden" name="last_msg_id" id="last_msg_id" value="{{ last_msg_id }}">
</form>
<hr>

{% endblock content %}

{% block footer_urls %}
<li> <a href="/"> Home </a> </li>
<li> <a href="/{{ tpc }}"> /{{ tpc }}/ </a></li>
<li> <a id="refreshButton"> Refresh </a></li>
{% endblock footer_urls %}
