{% extends 'base.html' %}

{% block head_url %}
{{ tpc }}
{% endblock head_url %}

{% block content %}
<div class="container">
    <span class="label label-danger">
        <h2 class="thread"> {{ thr_title }} </h2 class="thread">
    </span>
</div>
{% if messages %}

    {% for message in messages %}
    <hr>
        <span class="label label-default">
            <h4>
                #{{ message.id }};
                <small>
                    {{ message.date}}
                </small>
            </h4>
        </span>
        <p class="carrot">{{ message.text }}</p>
    <hr>
    {% endfor %}

{% else %}
    <p>No messages are available for this thread.</p>
{% endif %}
<span class="label label-default">
    <h4>
        Your message:
    </h4>
</span>

<form action="/{{  tpc }}/{{  thr }}/" method="post" class="form-group">
    {% csrf_token %}
    <input id="text" type="text" name="text" class="form-control form-control-carrot form-control-carrot-msg">
</form>
{% endblock content %}

{% block footer_urls %}
<li> <a href="/"> Home </a> </li>
<li> <a href="/{{ tpc }}"> /{{ tpc }}/ </a></li>
{% endblock footer_urls %}
